{% extends 'userbase.html' %} 
{% load static %}
{% block title %}PaymentStatus{% endblock %}
{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Images made to impress</p>
						<h1>Payment</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
    <div class="product-section mt-150 mb-150">
		<div class="container">
                
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center pt-5">
                        
                        <div class="d-flex flex-column aling-items-center text-success" style="gap: 20px;">
							
                            <i class="fa-solid fa-circle-check" style="font-size: 60px; align-self: center;"></i>
                            
                            <p class="mb-0 text-success" style="font-size: 32px; align-self: center">Thank you, Your Payment is successful</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
{% endblock %}